@import 'variables';

    .container {
        position: relative;
        width: 40%;
        margin: auto;
        padding: 20px;
        transform: translateY(20%);
        
        .text-center {
            padding-bottom: 20px;
        }
    
        .form-group {
            padding-bottom: 10px;
    
            .form-control {
                width: 100%;
                box-shadow: none;
            }
        }
    
        .btn {
            width: 100%;
            margin: auto;
            background: linear-gradient(to right, #5DD8B4, #0485A9);
            color: #fff;
            border: none;
            border-radius: 20px;
            padding: 10px;
        }

        @include sm {
            width: 100%;
        }
          
      }

