<div class="container register">
    <h3 class="title text-center">Registruj se</h3>
    <form #registerForm="ngForm">
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Osoba</span>
      </div>
      <input [(ngModel)]="formData.firstName"
             name="firstName" 
             type="text" 
             id="firstName" 
             class="form-control" 
             placeholder="Ime"
             required>
      <input [(ngModel)]="formData.lastName"
             name="lastName"
             type="text" 
             id="lastName" 
             class="form-control" 
             placeholder="Prezime"
             required>
    </div>
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Korisničko ime</span>
      </div>
      <input [(ngModel)]="formData.username"  
             name="username" 
             type="text" 
             id="username" 
             class="form-control" 
             placeholder="Korisničko ime" 
             required>
    </div>
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Lokacija</span>
      </div>
      <input [(ngModel)]="formData.city" 
             name="city"
             type="text"
             id="city" 
             class="form-control" 
             placeholder="Grad"
             required>
      <input [(ngModel)]="formData.country" 
             name="country"
             type="text"
             id="country" 
             class="form-control" 
             placeholder="Država"
             required>
    </div>
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
      </div>
      <input [(ngModel)]="formData.email" 
             type="email"
             name="email" 
             class="form-control"
             id="email" 
             placeholder="Unesite vaš email" 
             required>
      <input [(ngModel)]="formData.emailConfirmation" 
             type="email"
             name="emailConfirmation" 
             class="form-control"
             id="emailConfirmation" 
             placeholder="Potvrdite vaš email" 
             required>
    </div>
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Lozinka</span>
      </div>
      <input [(ngModel)]="formData.password"
             type="password"
             name="password" 
             class="form-control"
             id="password" 
             placeholder="Unesite lozinku" 
             required>
      <input [(ngModel)]="formData.passwordConfirmation" 
             type="password" 
             name="passwordConfirmation"
             class="form-control" 
             id="passwordConfirmation"
             placeholder="Potvrdite vašu lozinku" 
             required>
    </div>
    <br>
    <h6 class="text-center">Uslovi korišćenja</h6>
    <label>
      <input type="checkbox">Prihvatam
    </label>
    <button [disabled]="!registerForm.form.valid" (click)="register()" type="submit" class="btn btn-default">Registruj se</button>
  </form>
  <div *ngIf="errors.length > 0" class="alert alert-danger">
    <p *ngFor="let error of errors">
      {{error.detail}}
    </p>
  </div>
    <a [routerLink]="['/auth/login']">Već imate nalog?</a>
  </div>