<div class="container-fluid">
  <a routerLink="/"><img class="img-responsive" src="../../../../assets/images/logo.png" alt="logo"></a>
  <svg version="1.1" id="curve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 1400 400" style="enable-background:new 0 0 1400 400;" xml:space="preserve">
        <style type="text/css">
        .st0{fill:url(#SVGID_1_);}
        .st1{fill:url(#SVGID_2_);}
        .st2{opacity:0.5;fill:url(#SVGID_3_);}
        </style>
        <radialGradient id="SVGID_1_" cx="1052.4138" cy="185.3882" r="418.6079" gradientUnits="userSpaceOnUse">
            <stop  offset="0" style="stop-color:#0385AA"/>
            <stop  offset="1" style="stop-color:#131027"/>
        </radialGradient>
    <path class="st0" d="M1401,0v277.1c0,0-468.1-2.3-615.1-236C776.5,26.2,766.2,12.5,755,0H1401z"/>
        <radialGradient id="SVGID_2_" cx="843.9518" cy="62.7831" r="70.6028" gradientUnits="userSpaceOnUse">
            <stop  offset="0" style="stop-color:#0385AA"/>
            <stop  offset="1" style="stop-color:#71C2AB"/>
        </radialGradient>
    <circle class="st1" cx="828.9" cy="108" r="46.4"/>
        <radialGradient id="SVGID_3_" cx="1107.8676" cy="-0.4273" r="221.8448" gradientTransform="matrix(1 0 0 0.7627 0 81.2126)" gradientUnits="userSpaceOnUse">
            <stop  offset="0" style="stop-color:#0385AA"/>
            <stop  offset="1" style="stop-color:#71C2AB"/>
        </radialGradient>
        <ellipse class="st2" cx="1097" cy="195" rx="33.6" ry="117.2"/>
    </svg>
    <router-outlet></router-outlet>
</div>
