@import 'variables';
    
  :host {
    .container-fluid {
      position: relative;

      .img-responsive {
        width: 200px;
        height: auto;
        margin: 10px;
        z-index: 1;
      }
    
      #curve {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
      }

      @include sm {
        a {
          img {
            width: 150px;
          }
          
        }
      }
    }
  }

    

    
  
  