$main-color: #0485A9;
$main-color-light: #5DD8B4;
$main-text-color: #000000;
$light-gray-color: #e1e1e1;
$white: #ffffff;
$gradient: linear-gradient(to right, #5DD8B4, #0485A9);
$gradient-hover: linear-gradient(to right, #0475A9, #000);

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


    // Small devices
    @mixin sm {
        @media (max-width: #{$screen-sm-max}) {
            @content;
        }
      }
      
      // Medium devices
      @mixin md {
        @media (max-width: #{$screen-md-max}) {
            @content;
        }
      }
      
      // Large devices
      @mixin lg {
        @media (max-width: #{$screen-lg-max}) {
            @content;
        }
      }
      
      // Extra large devices
      @mixin xl {
        @media (min-width: #{$screen-xl-min}) {
            @content;
        }
      }