<div [ngStyle]="style" class="editable-component">
  <input *ngIf="isActiveInput"
         class="{{className}}" 
         type="type"
         (keydown.escape)="cancleUpdate()"
         (keyup.enter)="updateEntity()"
         [(ngModel)]="entity[entityField]"
         [value]="entity[entityField]"
         >
  <span *ngIf="!isActiveInput" class="{{className}} inline"> {{transformView(entity[entityField])}} </span>
  
  <div class="inline editable-btn">
      <a *ngIf="!isActiveInput"
      (click)="isActiveInput = true">
      <i class="fas fa-edit"></i>
      Prikaži
      </a>

      <button *ngIf="isActiveInput"
      class="btn btn-editable"
      (click)="updateEntity()">
      Sačuvaj
      </button>

      <button *ngIf="isActiveInput"
      class="btn btn-editable"
      (click)="cancleUpdate()">
      Odustani
      </button>
  </div>
  
</div>
