:host {

    main {
        flex: 1;
        position: relative;
      }
    
    /deep/ router-outlet ~ * {
        position: absolute;
        width: 100%;
        height: 100%;
        
        app-auth, app-login, app-register, app-shelter-register, app-user-register {
          position: relative;
        }
      }
}

