@import 'variables';

    .card {
        border: none;
        box-shadow: none;
        margin-bottom: 10px;

        .card-img-top {
            height: 150px;
            border-radius: 5%;
        }

        .card-body {
            padding: 0;
            margin-top: 10px;
            
            .card-subtitle {
                color: $main-color;
            }
            .card-title{
                color: $main-text-color;
                font-weight: 500;
            }
        }
    }

