<owl-carousel-o [options]="customOptions" #owlCar>

  <ng-container *ngFor="let ad of ads | urgent">
    <ng-template carouselSlide [id]="ad._id">
      <a routerLink="/ads/{{ad._id}}">
        <div class="row">
            <div class="col-md-6 col-6">
              <img [src]="ad.image" [alt]="ad.image" [title]="ad.image">
            </div>
            <div class="col-md-6 col-6">
              <h6 class="card-subtitle text-capitalize">{{ad.name}} &#183; {{ad.city}}</h6>
              <h5 class="title">{{ad.title}}</h5>
              <h6 class="card-text">{{ad.gender}} &#183; {{ad.age}}</h6>
            </div>
          </div>
      </a>
    </ng-template>
  </ng-container>

</owl-carousel-o>

<p>
  <a class="btn waves-light" (click)="owlCar.prev()" mdbWavesEffect><i class="fas fa-chevron-left"></i></a>
  <a class="btn waves-light" (click)="owlCar.next()" mdbWavesEffect><i class="fas fa-chevron-right"></i></a>
</p>