<nav class="navbar navbar-expand-sm white m-auto">
  <div class="container">
    <ul class="navbar-nav flex-row m-auto">
      <li class="nav-item">
        <!--form class="form-inline waves-light ml-auto" mdbWavesEffect>
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Pretraga" aria-label="Number" matInput
              [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.username}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </form-->
      </li>
      <li class="nav-item dropdown" mdbDropdown>
        <button mdbDropdownToggle mdbBtn color="white" size="sm" class="dropdown-toggle waves-light" type="button"
          mdbWavesEffect>
          Kategorija
        </button>
        <ul class="dropdown-menu dropdown-primary" *ngFor="let ad of filteredAds">
          <li class="dropdown-item" href="#">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" 
                       class="form-check-input" 
                       value="Pas" 
                       name="dog" 
                       [(ngModel)]="filter.dogs"
                       (ngModelChange)="filterChange()">Pas
              </label>
            </div>
          </li>
          <li class="dropdown-item" href="#">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox"
                       class="form-check-input" 
                       value="Macka" 
                       name="cat" 
                       [(ngModel)]="filters.cat"
                       (ngModelChange)="filterChange()">Macka
              </label>
            </div>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown" mdbDropdown>
        <button mdbDropdownToggle mdbBtn color="white" size="sm" class="dropdown-toggle waves-light" type="button"
          mdbWavesEffect>
          Pol
        </button>
        <ul class="dropdown-menu dropdown-primary">
          <li class="dropdown-item" href="#">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="Muzijak" name="male">Mužijak
              </label>
            </div>
          </li>
          <li class="dropdown-item" href="#">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="Zenka" name="male">Zenka
              </label>
            </div>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown" mdbDropdown>
        <button mdbDropdownToggle mdbBtn color="white" size="sm" class="dropdown-toggle waves-light" type="button"
          mdbWavesEffect>
          Starost
        </button>
        <ul class="dropdown-menu dropdown-primary">
          <li class="dropdown-item" href="#">
            ?
          </li>
        </ul>
      </li>
      <li *ngIf="auth.isAuthenticated()" class="nav-item">
        <a routerLink="/ads/new" mdbBtn color="primary" size="sm" class="waves-light" type="button" mdbWavesEffect>
          Kreiraj Oglas
        </a>
      </li>
    </ul>
  </div>
</nav>